@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	font-family: sans-serif;
}

div.alin {
	height: 100vh;
    height: 100dvh;
/**	height: calc(var(--vh,1vh)*100);**/
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1.alin {
	margin-top: 0;
}

a.alin {
	line-height: 2em;
	text-decoration: none;
	color: black;
}

#frame {
	height: 100vh;
    height: 100dvh;
/**	height: calc(var(--vh,1vh)*100);**/
	width: 100%;
	background-color: gray;
}

#right, #left {
	position: absolute;
	top: 10%;
	height: 90%;
	width: 50%;
	opacity: 0;
}

#left {
	left: 0;
}

#right {
	right: 0;
}

#toolbar {
	background-color: black;
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
}

#info, #direction {
	height: 100%;
	width: 10vh;
	width: 10dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#dir_sign {
	display: block;
	width: calc(3vh - 2px);
	height: calc(3vh - 2px);
	line-height: calc(3vh - 2px);
	border-radius: 1.5vh;
	width: calc(3dvh - 2px);
	height: calc(3dvh - 2px);
	line-height: calc(3dvh - 2px);
	border-radius: 1.5dvh;
	border: 2px solid #fff;
	text-align: center;
	font-weight: bold;
}

#info_img {
	height: 3vh;
	width: 3vh;
	height: 3dvh;
	width: 3dvh;
	object-fit: contain;
}

#textarea {
	line-height: 100%;
	margin: 0;
}

#page {
	object-fit: contain;
	height: 90%;
	width: 100%;
	display: block;
}

#info_panel {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	padding: 20px 30px;
	position: absolute;
	max-width: calc(100% - 80px);
	height: auto;
	top: calc(10px + 1vh * 10);
	top: calc(10px + 1dvh * 10);
	right: 10px;
	color: white;
	box-shadow: 2px 2px 2px rgba(128, 128, 128, .4);
	display: grid;
	grid-template-columns: repeat(2, minmax(auto, auto));
}

.td {
	border-left: 1px solid #fff;
	padding-left: 10px;
	margin-left: 10px;
}

.hidden {
	visibility: hidden;
}