body {
  background-color: #121212;
  color: white;
  font-family: "a-otf-ud-shin-go-pr6n", sans-serif;
  font-weight: 300;
  font-style: normal; }

.wf-active .wrapper {
  visibility: visible; }

.wrapper {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  color: white;
  visibility: hidden; }
  .wrapper__title {
    font-size: 2em; }
  .wrapper__text {
    text-align: center;
    word-break: keep-all; }
    .wrapper__text--test {
      text-align: justify; }
  .wrapper__textarea {
    padding: .5em;
    border: 1px white solid;
    border-radius: 5px;
    width: 100%;
    height: 40vh; }
    .wrapper__textarea::placeholder {
      color: gray; }
  .wrapper__submit {
    padding: .5em 1em;
    color: black;
    background-color: white;
    border-radius: 5px; }
  .wrapper__page {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: min(5vw, 5vh) min(5vw, 5vh) min(10vw + 3em, 10vh + 3em) min(5vw, 5vh); }
  .wrapper__next {
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    padding: .5em 1em;
    color: black;
    background-color: white;
    border-radius: 5px; }

.test--yu-gothic {
  font-family: yu-gothic-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal; }
.test--yu-mincho {
  font-family: yu-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal; }
.test--hiragino-kakugo {
  font-family: hiragino-kaku-gothic-pron, sans-serif;
  font-weight: 300;
  font-style: normal; }
.test--hiragino-mincho {
  font-family: hiragino-mincho-pron, sans-serif;
  font-weight: 300;
  font-style: normal; }
.test--source-han-sans {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 400;
  font-style: normal; }
.test--source-han-serif {
  font-family: "source-han-serif-japanese", serif;
  font-weight: 400;
  font-style: normal; }

.stepped__text {
  text-align: left;
  word-break: keep-all;
  width: 100%; }
.stepped__span {
  display: inline-block; }

.hidden {
  display: none !important; }

.mode {
  display: none; }
  .mode__label {
    display: flex;
    justify-content: center;
    margin-top: .5em; }
  .mode__image--light {
    object-fit: contain;
    width: 2em;
    height: 2em;
    display: block; }
  .mode__image--dark {
    object-fit: contain;
    width: 2em;
    height: 2em;
    display: none; }
  .mode:checked ~ .wrapper {
    background-color: white;
    color: black; }
    .mode:checked ~ .wrapper .wrapper__textarea {
      border: 1px black solid; }
    .mode:checked ~ .wrapper .wrapper__submit {
      background-color: lightgray; }
    .mode:checked ~ .wrapper .wrapper__next {
      background-color: lightgray; }
    .mode:checked ~ .wrapper .mode__image--light {
      display: none; }
    .mode:checked ~ .wrapper .mode__image--dark {
      display: block; }
    .mode:checked ~ .wrapper .result__input {
      border: 1px black solid; }
    .mode:checked ~ .wrapper .result__data td {
      border: 1px black solid; }

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em; }
  .result__name {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .result__input {
    padding: .2em .5em;
    border: 1px white solid;
    border-radius: 5px;
    margin-left: 1em;
    width: 10em; }
  .result__data {
    text-align: center; }
    .result__data td {
      border: 1px solid white;
      padding: .2em; }

.credit {
  position: relative;
  top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  word-break: keep-all;
  color: gray;
  text-align: center; }
  .credit__link {
    text-decoration: underline; }
